body {
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

span {
  color: #999999;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  height: 70px;
  background-color: white;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-buttons button {
  padding: 5px 15px;
  border: 1px solid #127580;
  background-color: white;
  border-radius: 5px;
  color: #127580;
}

.header-buttons button:last-child {
  background-color: #127580;
  color: white;
}

.header-buttons button:hover {
  cursor: pointer;
}

/* MAIN */

.bannerVinted {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.articleHome {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
}

.articleHome-container1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.articleHome-container1 img {
  height: 25px;
  border-radius: 50px;
  object-fit: cover;
}

.articleHome article > img {
  /* border: 2px solid red; */
  height: 360px;
  width: 235px;
  object-fit: cover;
}
